.container {
    background: linear-gradient(45deg, #033866, #167477) !important;

}

.submit-button {
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
    /* Darken the button on hover */
}

.draggable-badge {
    cursor: grab;
    transition: transform 0.2s ease;
}

.draggable-badge:hover {
    transform: scale(1.1);
    /* Enlarge the badge on hover */
}