.App {
    padding-top: var(--navbarHeight);
}

.main-content {
    margin-top: 0.2rem;
    /* Or any other desired space */
}

@media (max-width: 768px) {
    .main-content {
        padding-top: 100px;
        /* Adjust this value based on the actual height of the collapsed navbar */
    }
}